body{
    background-color: #f1f1f1;
}
/* card title position adjustment starts*/
.headbg{
    margin: -25px -24px 20px -24px;
}
/* card title position adjustment ends*/
/* background & font  colors of activity buttons  starts */
.bg-m,.bg-m:hover,.bg-m:focus{
    background-color: #2E58AD;
}
.bg-s,.bg-s:hover,.bg-s:focus{
    background-color: #DD1F2C;
}
.bg-m *,
.bg-s *{
    color: #fff !important;
    margin:auto;
}
.container-no-margin .row{
    margin-bottom: 0;
}
/* background & font  colors of activity buttons  ends */
/* utilities like padding and margin  starts*/
.p-2{
    padding:1rem !important;
}
.m-b-5{
    margin-bottom: 3rem;
}
.m-1{
    margin:.5rem auto;
}
.l-align{
    text-align: left;
}
.r-align{
    text-align: right;
}
.c-align{
    text-align: center;
}
.t-c{
    text-transform: capitalize;
}
.primary-text-bold {
    color: #2E58AD !important;
    font-weight: 600
}
.input-field .prefix {
    color: #999;
}
.input-field .prefix.active {
    color: #2e58ad;
}
h6.primary-text-bold.center-align {
    margin: 20px auto;
}
/* utilities like padding and margin  ends*/
td{
    word-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    text-align: left !important;
}
td:last-child{
    word-break:inherit;
    white-space: inherit;
}
.table-inside .mdl-data-table td{
    text-align: center !important;
}
.center-align i.btn{
    width: 100%;
}
.dropdown-content li>span{
    color: #2E58AD;
}
.b-s{
    box-shadow: 0px 1px 10px -2px #959595;
}
/* form elements color coding starts  */
input[type=password]:not(.browser-default).validate+label,
input[type=text]:not(.browser-default).validate+label::after,
input[type=password]:not(.browser-default).validate+label::after,
input[type=number]:not(.browser-default).validate+label::after,
input[type=number]:not(.browser-default):focus:not([readonly])+label ,
input[type=text]:not(.browser-default):focus:not([readonly])+label ,
textarea.materialize-textarea:focus:not([readonly])+label       {
    color: #2E58AD !important;
}
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])   {
    border-bottom: 1px solid #2E58AD;
    box-shadow: 0 1px 0 0 #2E58AD;
}
.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored{
    background-color: #2E58AD;
}
/* form elements color coding ends  */
/* data table styling starts  */
/* .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric,
.mdl-data-table td  {
    text-align: center;
} */
.mdl-data-table thead tr,
.mdl-data-table tfoot tr{
    background-color: #2E58AD;
}
.mdl-data-table thead tr th,
.mdl-data-table tfoot tr th{
   color: #fff;
   font-size: 0.9rem;
   text-align: left;
}

.mdl-cell--6-col select{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0 5px;
}

.mar-top{
    margin-top: 4rem !important;
    text-transform: uppercase;
    text-decoration: underline;
    color:#2E58AD;
    font-weight: 600;
}
/* data table styling ends  */
/* data table styling  */
.dataTables_filter input[type="search"]::placeholder {
    color: #6C587B;
}

.dataTables_filter label::after {
    position: relative;
    content: '\f002';
    color: #6C587B;
    right: 15px;
    font: normal normal normal 14px/1 FontAwesome;
}

.dataTables_filter label {
    color: #fff;
}
@media only screen and (max-width:600px){
    .dataTables_length{
        text-align:center;
    }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* responsiveness code starts  */
@media only screen and (max-width: 768px) {
    .l-align,
    .r-align{
        text-align: center;
    }
    .l-align .btn,
    .r-align .btn,
    .c-align .btn{
        width: 100%;
    }
  }
  /* responsiveness code ends  */
  /* datepicker calender icon styling starts  */
  .datepicker~button {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 0;
    opacity: 0.7;
    cursor: pointer;
    background-color: transparent;
}
.datepicker~button:focus {
    background-color: transparent;
}
/* datepicker calender icon styling ends  */
/* units styling starts */
input[type="text"]~.units{
    position:absolute;
    right: 15px;
    top: 15px;
    border: 0;
    opacity: 0.7;
}
/* units styling ends */
.page-loader ,.page-loader-2{
    background: #332e2ec2!important;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.preloader-wrapper{
    top: 45%!important;
    left:47%!important;
}